CONFIG_TARGET_ipq60xx=y
CONFIG_TARGET_ipq60xx_generic=y
CONFIG_TARGET_ipq60xx_generic_DEVICE_zn_m2=y
#路径ipq6000\package\firmware\ath11k-wifi\board-cmiot_ax18.bin.IPQ6018
CONFIG_DEFAULT_ath11k-firmware-ipq6018=y
CONFIG_PACKAGE_ath11k-wifi-cmiot_ax18=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_luci-app-switch=y
# Qca
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_nss-eip-firmware=y
CONFIG_PACKAGE_qca-diag=y
CONFIG_PACKAGE_qca-nss-fw-cp-retail=y
CONFIG_PACKAGE_qca-nss-fw-eip-cp=y
CONFIG_PACKAGE_qca-qrtr=y
CONFIG_PACKAGE_qca-son-cli=y
CONFIG_PACKAGE_qca-son-mem-debug=y
CONFIG_PACKAGE_qca-spectral=y
CONFIG_PACKAGE_qca-ssdk-shell=y
# ipv6
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-proto-ipv6=y
# luci-app
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_wpad-openssl=y
